#first{
    color:red}
#second{
    color:blue}
#third{
    color:orange}
#fourth{
    color:green}
#fifth{
    color:yellow}
.color{
    font-weight: normal;}
img{
    height: 200px;
    width:200px;

}
